@import '@/styles/mixins.scss';
.app-container {
  .header {
    dissplay: flex;
    align-items: center;
    justify-content: space-between;
    @include common-header;
    .title {
    }
  }
  main {
    padding-top: 66px;
    min-width: 1280px;
    min-height: 100vh;
    background: #f5f7fa;
  }
}
