@import '@/styles/mixins.scss';

.detail-page {
  .header {
    @include common-header;
  }

  main {
    padding-top: 66px;
    display: flex;
    height: 100vh;
    .left {
      background-color: #fff;
      box-shadow: 1px 0 0 #f3f4f9;
      float: left;
      height: 100%;
      left: 0;
      position: relative;
      transition: left 0.3s linear;
      width: 304px;
    }
    .middle {
      flex: 1;
      background-color: #f5f7fd;
    }
    .right {
      width: 304px;
      height: 100%;
      box-shadow: 1px 0 0 #f3f4f9;
      background-color: #fff;
    }
  }
}
